# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA project files
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
**/docker/*.env
**/docker/*.local
.env

# Misc
*.swp
*.swo

# Others
supervisord.log